* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: var(--font-stack);
    font-size: 16px;
    line-height: 1.5;
}


/* VARIABLES */
:root {
    --gradient: linear-gradient(133deg, rgb(37, 151, 167) 9%, rgb(214, 110, 243) 80%);
    --font-stack: 'M PLUS 1p', sans-serif;
    --hsl-primary: hsl(195, 74%, 44%);
    --light-color: #FDF5E6;
    --dark-color: #000000;
}
/* SET ALL IMAGES SIZE */
img {
    max-width: 100%;
    max-height: 100%;
}
/* MAIN CONTAINER */
.container {
    max-width: 1100px;
    padding: 0 1rem;
    overflow: hidden;
    margin: auto;
}
/* ALL HEADING CLASSES TEXT */
.heading {
    font-size: 2rem;
}


/* TOP NAVBAR */
.navbar {
    background: transparent;
    position: absolute;
    z-index: 100;
    width: 100%;
    color: var(--light-color);
} .nav_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    max-height: 120px;
} .nav-logo .logo-text {
    font-family: 'Lilita One', cursive, sans-serif;
    font-size: 1.5rem;
} .logo-text span {
    color: var(--hsl-primary);
    font-size: 2.5rem;
}
.item-lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
} .item-lists li {
    margin-left: 1rem;
}.item-lists li a {
    color: var(--light-color);
}.item-lists li a:hover {
    color: var(--hsl-primary);
    border-bottom: 1px solid var(--hsl-primary);
    transition: ease all 0.5s;
}


/* HEADER SHOWCASE */
.header {
    background: linear-gradient(135deg, rgba(0,0,0, 0.7), rgba(0, 0, 0, 0.7)), url('img/bg.jpg') no-repeat center / cover;
    height: 120vh;
} .header_display {
    position: relative;
    height: 120vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2.5rem;
} .main-text{
    color: var(--light-color);
} .main-text .heading {
    padding: 0.5rem 0;
} 
.main-form {
    background: var(--hsl-primary);
    padding: 2rem;
    border-radius: 6px;
    width: 50%;
} .form-heading {
    font-size: 2rem;
    text-align: center;
} .form .form-col {
    margin: 1.5rem 0rem;
} .form-col input, button{
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
} .btn-subscribe {
    cursor: pointer;
} .btn-subscribe:hover {
    background: var(--dark-color);
    color: var(--light-color);
    transition: ease-in-out all .5s;
}


/* SERVICE CARDS STYLING */
.service {
    padding: 5rem 0rem;
} .service-heading .heading {
    text-align: center;
} .card_row {
    display: flex;
    justify-content: space-between;
    flex-basis: 20px;
    align-items: center;
    text-align: center;
    gap: 1rem;
} .card-col {
    padding: 2rem;
} .content img {
    height: 180px;
    border-radius: 6px;
} .content .card-text {
    padding: 1rem;
} .card-text .card-heading {
    font-size: 1.2rem;
    margin: 0.5rem 0rem;
}


/* ABOUT US */
.about {
    background: var(--gradient);
    padding: 5rem 0rem;
    color: var(--light-color);
} .about_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
} .about-heading .heading {
    padding: 1rem 0;
} .btn-read-more {
    margin: 1rem 0;
    background: var(--light-color);
    padding: 0.5rem;
    max-width: 28%;
    border-radius: 6px;
    text-align: center;
    font-size: 1rem;
    color: var(--dark-color);
    cursor: pointer;
} .btn-read-more:hover {
    background: var(--dark-color);
    color: var(--light-color);
    transition: all ease-out 0.6s;
} .about-img {
    border-radius: 12px;
}


/* CONTACT US STYLING */
.contact {
    background: var(--light-color);
    padding: 5rem 0;
} .contact-heading {
    padding: 1.5rem 0;
    text-align: center;
} .contact-heading .heading {
    padding: 0.5rem;
} .contact-form .form-col {
    margin: 2rem 0;
} .contact-form .form-col input, textarea {
    width: 100%;
    padding: 0.5rem;
    border: 0.5px solid;
    border-radius: 6px;
    resize: vertical;
} .contact-button {
    padding: 0.5rem;
    background: var(--hsl-primary);
    text-align: center;
    color: var(--light-color);
    border-radius: 8px;
    cursor: pointer;
} .contact-button:hover {
    background: var(--dark-color);
    transition: ease all 0.5s;
}


/* FOOTER SECTION */
.footer {
    background: var(--gradient);
    padding: 1rem 0;
} .footer_display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
} .footer-text .copyright {
    font-size: 1.2rem ;
} .icon_row {
    display: flex;
    justify-content: space-between;
} .icon_row .social-link {
    font-size: 1.2rem;
    padding: 1rem;
    color: var(--dark-color);
    font-weight: 700;
    transition: all ease 0.4s;
} 
/* HOVER CHANGES OF SOCIAL LINKS */
.fa-facebook:hover {color: #0b74fd;}
.fa-instagram:hover {color:  #ff0cca;}
.fa-github:hover {color: var(--light-color);}
.fa-discord:hover {color: #5865f2;}


/* ---RESPONSIVE FOR MOBILE PHONES */
@media (max-width: 800px ) {
    * {
        font-size: 12px;
    }
    /* --- ALL HEADING CLASSES - FONT SIZE */
    .heading {
        font-size: 1.5rem;
    }
    

    /* NAVBAR */
    .navbar .nav_row {
        flex-direction: column;
        flex-wrap: wrap;
    } 

    /* MAIN HERO */
    .header_display {
        flex-direction:column;
        justify-content: center;
        text-align: center;
        padding: 3rem;
    } .main-form {
        width: 100%;
    }

    /* SERVICE SECTION */
    .card_row {
        flex-wrap: wrap;
        padding: 3rem 0;
        flex-direction: column;
    }

    /* ABOUT US */
    .about {
        padding: 3rem;
    }
    .about_row {
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        flex-direction: row;
    }.about-img {
        width: 60%;
    }

    /* CONTACT FORM */
    .contact {
        padding: 3rem;
    }

    /* FOOTER */
    .footer {
        padding: 2rem;
    }
    .footer_display {
        flex-wrap: wrap;
        text-align: center;
        flex-direction: column;
    }
}


/* ---RESPONSIVE FOR TABLETS / LAPTOPS */
@media (max-width: 1048px  ) and (min-width: 801px) {
    * {
        font-size: 14px;
    }
    /* --- ALL HEADING CLASSES - FONT SIZE */
    .heading {
        font-size: 1.5rem;
    }
    

    /* MAIN HERO */
    .header {
        padding: 5rem 0;
    } .header_display {
        flex-direction:column;
        justify-content: center;
        text-align: center;
        padding: 3rem;
    } .main-form {
        width: 100%;
    } .main-form .form-heading {
        font-size: 1.5rem;
    }

    /* ABOUT US */
    .about {
        padding: 3rem;
    }
    .about_row {
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        flex-direction: row;
    }.about-img {
        width: 60%;
    }

    /* CONTACT FORM */
    .contact {
        padding: 3rem;
    }

    /* FOOTER */
    .footer {
        padding: 2rem;
    }
    .footer_display {
        flex-wrap: wrap;
        text-align: center;
        flex-direction: column;
    }
}